.job-search-background {
  position: relative;
  background-color: rgb(239, 249, 255);
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  z-index: 2;
  font-size: 55px !important;
  padding: 30px;
  color: rgba(0, 0, 0, 0.85);
}

.upper-blue-circle-background {
  position: absolute;
  left: -250px;
  top: -250px;
  box-sizing: border-box;
  z-index: 0;
}

.bottom-blue-circle-background {
  position: absolute;
  right: -250px;
  bottom: -250px;
  box-sizing: border-box;
  z-index: 0;
}

.search-box-div {
  z-index: 1;
  padding: 5px 10px;
  position: relative;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(26 49 254 / 20%) 4px 4px 30px;
}
.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
}

.input {
  border-style: none;
  background-color: #edeff1;
  font-size: 14px;
  height: 40px;
  width: 20vw;
  padding: 0px 0px 0px 20px;
  border-radius: 8px;
  line-height: 1.5715;
  margin-right: 10px;
}

.search-button {
  background-color: #3b41c5;
  border: none;
  padding: 12px 14px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}

@media only screen and (max-width: 749px) {
  .upper-blue-circle-background {
    display: none;
  }

  .bottom-blue-circle-background {
    display: none;
  }
}
